p {
    font-family: akkuratpro-regular;
    font-size: 1.3em;
    color: black;
}

.email {
    font-size: 1.1em;
    font-family: akkuratpro-regular;
    text-align: center;
    color: blue;
}

.border {
    position: fixed;
    z-index: 150;
    background: blue;
}

.social {
    font-family: akkuratpro-italic;
    font-size: 1.4em;
    color: blue;
}

.title {
    font-family: akkuratpro-bold;
    font-size: 2.7em;
    color: black;
    text-align: center;
    letter-spacing: 5px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.general-link {
    font-family: akkuratpro-italic;
    font-size: 1.0em;
    color: black;
    text-decoration: underline;
}

.social-list > li {
    padding-right: 4.9em;
}

.social-list > li:last-child {
    padding-right: 0px;
}

@media (max-width: 991px)
.border.top, .border.bottom {
    height: 15px;
}

@media (max-width: 991px)
.border.left, .border.right {
    width: 15px;
}

.border.right {
    right: 0;
    width: 15px;
    height: 200%;

}

.border.left {
    left: 0px;
    width: 15px;
    height: 200%;
}

.border.top {
    top: 0;
    width: 150%;
    height: 15px;
}

.border.bottom {
    bottom: 0px;
    width: 150%;
    height: 15px;
}

.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }
.margin-top-35 { margin-top: 3.5em; }
.margin-top-40 { margin-top: 4.0em; }
.margin-top-45 { margin-top: 4.5em; }
.margin-top-50 { margin-top: 5.0em; }
.margin-top-55 { margin-top: 5.5em; }
.margin-top-60 { margin-top: 6.0em; }
.margin-top-65 { margin-top: 6.5em; }

.margin-bottom-05 { margin-bottom: 0.5em; }
.margin-bottom-10 { margin-bottom: 1.0em; }
.margin-bottom-15 { margin-bottom: 1.5em; }
.margin-bottom-20 { margin-bottom: 2.0em; }


/* @font-face { */
/*     font-family: akkuratpro-regular; */
/*     src: url(fonts/akkurat_regular_pro.otf); */
/* } */
/* @font-face { */
/*     font-family: akkuratpro-bold; */
/*     src: url(fonts/akkurat_bold_pro.otf); */
/* } */
/* @font-face { */
/*     font-family: akkuratpro-italic; */
/*     src: url(fonts/akkurat_italic_pro.otf); */
/* } */
/* @font-face { */
/*     font-family: akkuratpro-bold-light; */
/*     src: url(fonts/akkurat_regular_bold_light_pro.otf); */
/* } */

@font-face {
	font-family: 'akkuratpro-bold-italic';
	src: url('fonts/AkkuratPro-BoldItalic.eot');
	src: url('fonts/AkkuratPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
	  url('fonts/AkkuratPro-BoldItalic.woff') format('woff'),
		url('fonts/AkkuratPro-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'akkuratpro-regular';
	src: url('fonts/AkkuratPro-Regular.eot');
	src: url('fonts/AkkuratPro-Regular.eot?#iefix') format('embedded-opentype'),
	  url('fonts/AkkuratPro-Regular.woff') format('woff'),
		url('fonts/AkkuratPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'akkuratpro-bold';
	src: url('fonts/AkkuratPro-Bold.eot');
	src: url('fonts/AkkuratPro-Bold.eot?#iefix') format('embedded-opentype'),
	  url('fonts/AkkuratPro-Bold.woff') format('woff'),
		url('fonts/AkkuratPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'akkuratpro-italic';
	src: url('fonts/AkkuratPro-Italic.eot');
	src: url('fonts/AkkuratPro-Italic.eot?#iefix') format('embedded-opentype'),
	  url('fonts/AkkuratPro-Italic.woff') format('woff'),
		url('fonts/AkkuratPro-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
