p {
    font-family: akkuratpro-regular;
    font-size: 1.0em;
    color: black;
}

.email {
    font-size: 1.1em;
    font-family: akkuratpro-regular;
    text-align: center;
    color: blue;
}

.border {
    position: fixed;
    z-index: 150;
    background: blue;
}

.social {
    font-family: akkuratpro-italic;
    font-size: 1.1em;
    color: blue;
}

.title-name {
    margin-left: 8px;
    font-family: akkuratpro-bold;
    font-size: 1.5em;
    color: black;
    text-align: center;
    letter-spacing: 9px;
    color: blue;
}

.title-surname {
    margin-top: 0px;
    margin-left: 17px;
    font-family: akkuratpro-bold;
    font-size: 1.5em;
    color: blue;
    text-align: center;
    letter-spacing: 22px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.sidebar-link {
    text-align: center;
    display: block;
    color: black;
    font-family: akkuratpro-bold;
}

.general-link {
    font-family: akkuratpro-italic;
    font-size: 1.0em;
    color: black;
    text-decoration: underline;
}

.social-list > li {
    padding-right: 3.0em;
}

.social-list > li:last-child {
    padding-right: 0px;
}

@media (max-width: 767px) {
    .paragraph {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (min-width:481px)  {
    .paragraph {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (min-width:641px)  {
    .paragraph {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (min-width:961px)  {
    .paragraph {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (max-width: 991px)
.border.top, .border.bottom {
    height: 15px;
}

@media (max-width: 991px)
.border.left, .border.right {
    width: 15px;
}

.border.right {
    right: 0;
    width: 15px;
    height: 200%;

}

.border.left {
    left: 0px;
    width: 15px;
    height: 200%;
}

.border.top {
    top: 0;
    width: 150%;
    height: 15px;
}

.border.bottom {
    bottom: 0px;
    width: 150%;
    height: 15px;
}

.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }
.margin-top-35 { margin-top: 3.5em; }
.margin-top-40 { margin-top: 4.0em; }
.margin-top-45 { margin-top: 4.5em; }
.margin-top-50 { margin-top: 5.0em; }
.margin-top-55 { margin-top: 5.5em; }
.margin-top-60 { margin-top: 6.0em; }
.margin-top-65 { margin-top: 6.5em; }

.margin-bottom-05 { margin-bottom: 0.5em; }
.margin-bottom-10 { margin-bottom: 1.0em; }
.margin-bottom-15 { margin-bottom: 1.5em; }
.margin-bottom-20 { margin-bottom: 2.0em; }
.margin-bottom-25 { margin-bottom: 2.5em; }
.margin-bottom-30 { margin-bottom: 3.0em; }
.margin-bottom-35 { margin-bottom: 3.5em; }
.margin-bottom-40 { margin-bottom: 4.0em; }

@font-face {
	font-family: 'akkuratpro-bold-italic';
	src: url('fonts/AkkuratPro-BoldItalic.eot');
	src: url('fonts/AkkuratPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
	  url('fonts/AkkuratPro-BoldItalic.woff') format('woff'),
		url('fonts/AkkuratPro-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'akkuratpro-regular';
	src: url('fonts/AkkuratPro-Regular.eot');
	src: url('fonts/AkkuratPro-Regular.eot?#iefix') format('embedded-opentype'),
	  url('fonts/AkkuratPro-Regular.woff') format('woff'),
		url('fonts/AkkuratPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'akkuratpro-bold';
	src: url('fonts/AkkuratPro-Bold.eot');
	src: url('fonts/AkkuratPro-Bold.eot?#iefix') format('embedded-opentype'),
	  url('fonts/AkkuratPro-Bold.woff') format('woff'),
		url('fonts/AkkuratPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'akkuratpro-italic';
	src: url('fonts/AkkuratPro-Italic.eot');
	src: url('fonts/AkkuratPro-Italic.eot?#iefix') format('embedded-opentype'),
	  url('fonts/AkkuratPro-Italic.woff') format('woff'),
		url('fonts/AkkuratPro-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
